<!DOCTYPE html>
<html lang="en">

<head>
    <title>Self-driving car - No libraries</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.png">    
</head>

<body>

    <h1>Self-driving car</h1>


    <div class="container">
        <div class="expl">
            <p>
                The 'self-driving car' is a creation by <b>Radu Mariescu Istodor</b>.
                You can find a more sophisticated version on his <a href="https://radufromfinland.com/" target="_blank"
                    rel="noopener noreferrer">website</a>. <br>
                More importantly, you can learn how to build it yourself in his great free course on <a
                    href="https://www.freecodecamp.org/news/self-driving-car-javascript/" target="_blank"
                    rel="noopener noreferrer">freeCodeCamp</a>. In this course you get introduced in neural networks and
                genetic algorithms.<br><br>

                The application is written in javascript (ES6) without the use of any library.<br>
                The graph visualizes the activity of the neural network of the car with the sensors highlighted.<br><br>
                The 'brain' will be optimized by trial and error.
                You have to help your computer by picking out the smartest car (the blue one with the sensors). Use the
                save button.
                Based on the characteristics of this car your machine will randomly compute a new population of cars.
                With some luck a smarter car was calculated and you can now save this one.<br>
                Go on until you get a car that is able to pass all the (red) cars without crashing.

            </p>
        </div>

        <div class="control">
            <form action="/" method="post">
                <p><b><u>number of cars:</u></b></p>
                <input type="text" name="number" id="number_of_cars" value="<%= number %>">
                <button type="submit" class="input" name="button">=></button>
            </form>

            <div id="verticalButtons">
                <p><b><u>* save best 'brain':</u></b></p>
                <button onclick="save()">💾</button>
                <p><b><u>* restart with stored best 'brain':</u></b></p>
                <button onclick="reload()">↻</button>
                <form action="/" method="post">
                    <p><b><u>* remove stored 'brain' and train the system again:</u></b></p>
                    <input type="hidden" name="check" id="number_two" value="<%= numbertwo %>">
                    <button type="submit" onclick="discard()">🗑️</button>
                </form>
            </div>

            <p><b>=> The application is running with a <u>population of <%= number %> cars</b></u></p>
        </div>
        <div>
            <p>
                Be careful!<br>
                A recent computer should be able to do the calculation for up to 1000 cars, and maybe
                more.
                If not, your browser will slow down or even freeze. (The default is set to 100, but with this small number it can take a very long time to get a car that won't crash anymore.)<br>
                The neural network, as well as the algorithm that is constantly checking for
                intersections, uses nested loops. Hence, time efficiency of these algorithms is O(n^2).
                This means that the application is energy consuming. <br>
                Don't let your machine make unnecessary calculations.<br>
                You can find more information about algorithms, time efficiency and energy consumption on this <a
                    href="http://remireci.pythonanywhere.com/" target="_blank" rel="noopener noreferrer">website</a>.
            </p>

        </div>

        <div class="bottom">
            <p><b><i>This site is not responsive, because small devices lack computing power</i></b></p>
        </div>

    </div>


    <canvas id="carCanvas"></canvas>

    <canvas id="networkCanvas"></canvas>
    <script src="visualizer.js"></script>
    <script src="sensor.js"></script>
    <script src="network.js"></script>
    <script src="road.js"></script>
    <script src="utils.js"></script>
    <script src="controls.js"></script>
    <script src="car.js"></script>
    <script src="main.js"></script>

</body>

</html>